/* Styles dégueulasses */

/* Corps */
body {
  background: linear-gradient(to left, #ff00ff, #ffff00);
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #00ff00;
  text-align: center;
}

/* Conteneur principal */
.container {
  max-width: 80vw;
  margin: 0 auto;
  padding: 50px;
  background-color: #666;
  border: 10px solid #ff0000;
  box-shadow: 0 0 50px #000;
}

/* Liens */
a {
  color: #0000ff;
  text-decoration: underline;
}

a:hover {
  color: #ff00ff;
}

/* Boutons */
button {
  background-color: #00ffff;
  color: #ff00ff;
  border: 5px dotted #0000ff;
  border-radius: 20px;
  padding: 15px 30px;
  margin: 20px;
}

button:hover {
  background-color: #ff0000;
  color: #ffff00;
}

/* Formulaires */
input[type="text"] {
  padding: 10px;
  border: 3px solid #00ff00;
  border-radius: 10px;
  background-color: #ffff00;
  color: #000;
  font-size: 18px;
}

/* Messages d'erreur */
.deadline-passed {
  color: #ff0000;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
  margin-top: 20px;
}

/* Pied de page */
.footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
}

/* Tâches */
.task-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-list li {
    margin-bottom: 10px;
    padding: 10px;
    background: linear-gradient(to right, #ff00ff, #ffff00); /* Dégradé rappelant la couleur de fond */
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap; /* Empêche le débordement du texte sur plusieurs lignes */
    position: relative; /* Pour positionner le pseudo-élément par rapport à l'élément parent */
}

.task-list li.checked::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000; /* Couleur du trait de soulignement */
    transform: translateY(-50%); /* Centre le trait de soulignement verticalement */
}

.task-title {
    flex: 1;
    margin-left: 10px;
    font-size: 18px; /* Taille du texte */
}

.deadline,
.category {
    margin-left: 20px; /* Espacement entre les éléments */
    font-size: 16px; /* Taille du texte */
}
